html
{
	height:80%;
}

body, form
{
	margin:0px;
	height:100%;
}

#BordaDireita
{
	background:transparent url(../imagens/layout/cmd.jpg);
	background-repeat: repeat;
	width: 22px;
	float:right;
	height:100%;
}
#BordaEsquerda
{
	background:transparent url(../imagens/layout/cme.jpg);
	background-repeat: repeat;
	width: 22px;
	float:left;
	clear:left;
	height:100%;
	
}

#CabCantoEsquerdo
{
	background:transparent url(../imagens/layout/cce.jpg);
	background-repeat:no-repeat;
	float:left;
	height:50px;
	width:22px;
	
}

#CabCantoDireito
{
	float:right;
	clear:right;
	height:50px;
	width:22px;
}

#Cabecalho
{
	height:50px;
}

#Rodape
{
	height: 10%;
}

#Conteudo
{
	height: 80%;
	width:100%;
	background-color: #ffffff;
}
#RodCantoEsq
{
	float:left;
	clear:left;
	width:22px;
	
}
#RodMeio
{
	background-image: url(../imagens/layout/cbc.jpg);
	width: 100%;
	height:22px;
	background-repeat: repeat;
}
#RodCantoDir
{
	float:right;
	clear:right;
	width:22px;
	
}
#user 
{
	background:transparent url(../imagens/layout/fuser.jpg) left top no-repeat;
	width:160px;
	text-align:center;
	padding-top:6px;
	font-family:Tahoma;
	font-size:10px;
	color:#11c402;
	float:left;
}
#LogoNeobridge
{
	float:right;
}
