<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration>
  <appPath>
    <item key="assembly" value="\\servidor_05\c\nbdbm.dll" />
    <item key="assemblyconfig" value="\\servidor_10\d\nbdbm.dll.config" />
  </appPath>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <!--   Os parametros válidos são: SQLSERVER ; PostGreSQL ; OUTDB ; ODBC -->
    <item key="tipoconexao" value="SQLSERVER" help="Tipo da conexão com o Banco de Dados" />
    <!--   Os parametros válidos são: SQLSERVER ; PostGreSQL ; ACCESS97 ; ACCESS2000 -->
    <item key="tipobanco" value="SQLSERVER" help="Tipo do Banco de Dados" exemplo="PostGreSQL" />
    <item key="sintaxeData" value="MM/dd/yyyy" help="formato de data" exemplo="dd/mm/yyyy" />
    <item key="key2" value="informacao2" />
  </appSettings>
  <!-- Banco de Dados Padrão Neobridge -->
  <SQLSERVER versao="2000">
    <!--"Network Library=DBMSSOCN; Data Source=127.0.0.1, 1433; Initial Catalog=NBCOBBBO; User ID=" & self.Settings.UserId & "; Password=" & self.Settings.Password -->
    <item key="NetworkLibrary" value="" />
    <!--
    <item key="DataSource" value="Server=172.17.0.7" />
    -->
    <item key="DataSource" value="Server=127.0.0.1" />
    <item key="InitialCatalog" value="Initial Catalog=Neobridge" />
    <item key="IntegratedSecurity" value="" />
    <item key="PersistSecurityInfo" value="Persist Security Info=true" />
    <item key="Pooling" value="Pooling=true" />
    <!--
    <item key="UserId" value="User Id=login" />
    <item key="Password" value="password=senha" />
    -->
    <item key="UserId" value="User Id=sa" />
    <item key="Password" value="password=" />
  </SQLSERVER>
  
  <!-- Banco de Dados LugPhil -->
  <SQLSVR_LUG versao="2000">
    <!--"Network Library=DBMSSOCN; Data Source=127.0.0.1, 1433; Initial Catalog=NBCOBBBO; User ID=" & self.Settings.UserId & "; Password=" & self.Settings.Password -->
    <item key="NetworkLibrary" value="" />
    <!--
    <item key="DataSource" value="Server=172.17.0.7" />
    -->
    <item key="DataSource" value="Server=127.0.0.1" />
    <item key="InitialCatalog" value="Initial Catalog=EVT_LugPhil" />
    <item key="IntegratedSecurity" value="" />
    <item key="PersistSecurityInfo" value="Persist Security Info=true" />
    <item key="Pooling" value="Pooling=true" />
    <!--
    <item key="UserId" value="User Id=login" />
    <item key="Password" value="password=senha" />
    -->
    <item key="UserId" value="User Id=sa" />
    <item key="Password" value="password=" />
  </SQLSVR_LUG>

  <ODBC>
    <!--"Network Library=DBMSSOCN; Data Source=127.0.0.1, 1433; Initial Catalog=NBCOBBBO; User ID=" & self.Settings.UserId & "; Password=" & self.Settings.Password -->
    <item key="NetworkLibrary" value="Driver={SQL Server}" />
    <item key="DataSource" value="Server=127.0.0.1" />
    <item key="Database" value="Database=Neobridge" />
    <item key="IntegratedSecurity" value="Trusted_Connection=true" />
    <item key="UserId" value="User Id=login" />
    <item key="Password" value="password=senha" />
  </ODBC>
  <OUTDB>
    <!--"Network Library=DBMSSOCN; Data Source=127.0.0.1, 1433; Initial Catalog=NBCOBBBO; User ID=login; Password=senha -->
    <item key="StringConnection" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=x:\Bancos de Dados\Neobridge.mdb" />
  </OUTDB>
  <PostGreSQL versao="3.0">
    <item key="data source" value="Data Source=172.17.0.66" />
    <item key="ODBC" value="DSN=POSTGRE30" />
    <item key="UserId" value="User Id=login" />
    <item key="Password" value="password=senha" />
  </PostGreSQL>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nbdbm.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>