<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="nbw" namespace="NBWebControls" assembly="NBWebControls"/>
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="TipoBanco" value="SqlServer"/>
    <add key="ConnString" value="Connection Timeout=30;Data Source=.;Initial Catalog=NB_Cobranca;User ID=sa;password=tonetto"/>
    <add key="SMS" value="Connection Timeout=30;Data Source=.;Initial Catalog=SMS;User ID=sa;password=tonetto"/>
  </appSettings>
</configuration>